h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FC7323;
}
.estadistica{
	/*border: 1px solid red;*/
	margin: 10px;
	padding-top: 10px;
	height: auto;
}
.estadistica span{
	font-size: 25pt;
}
.est-dato{
	font-size: 40pt;
}
.est{
	background: #FFFFFF;
}

.estadistica i{
	font-size: 50pt;
	float: right;
	color: #FC7323;
}
/*Contenedor azul*/
.back-blue{
	background: #00C0EF;
	color: #FFFFFF;
}
.back-blue .icono{
	color: #00A3CB;
}
.foot-back-blue{
	/*background: #00ACD7;*/
	background: #00ACD7;
	color: #FFFFFF;
	padding: 5px;
	text-align: center;
}

/*Contenedor verde*/
.back-green{
	background: #00A65A;
	color: #FFFFFF;
}
.back-green .icono{
	color: #008D4D;
}
.foot-back-green{
	/*background: #00ACD7;*/
	background: #009551;
	color: #FFFFFF;
	padding: 5px;
	text-align: center;
}

/*Contenedor rojo*/
.back-red{
	background: #DD4B39;
	color: #FFFFFF;
}
.back-red .icono{
	color: #BC4031;
}
.foot-back-red{
	/*background: #00ACD7;*/
	background: #C64333;
	color: #FFFFFF;
	padding: 5px;
	text-align: center;
}

/*Informacion del director del proyecto*/
.infoDirector{
	background: #FFFFFF;
}
.dato{
	font-family: 'Open Sans Condensed', sans-serif;
	/*color: #FC7323;*/
	color: #000000;
}